.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.license-form {
  flex: 1;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  min-width: 280px;
  font-weight: bold;
}
.license-form > div {
  padding-bottom: 15px;
}
